
      <footer>
         <div class="container">
            <div class="row">
               <div class="col">
                  <hr />
                  <p class="text-center">Curso B7WEB - NodeJS + TypeScript</p>
               </div>
            </div>
         </div>
      </footer>
      <script src="/js/bootstrap.bundle.min.js"></script>
   </body>
</html>
