<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>PROJETO CRUD DE USUÁRIOS</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css" />
   </head>
   <body>
      <header>
         <div class="container">
            <div class="row">
               <div class="col">
                  <h2>Modulo 03: Banco de Dados SQL (Mysql / Postgress)</h2>
                  <p>
                     Projeto CRUD de Usuários utilizando NodeJS / TypeScript /
                     Mysql / Postgress
                  </p>
                  <hr />
               </div>
            </div>
         </div>
      </header>