{{>partials/header}}
<main>
   <div class="container">
      <div class="row">
         <div class="offset-3 col-6">
            <section class="card border-secondary">
               <header class="card-header bg-secondary text-white">
                  <h4 class="card-title">Formulário</h4>
               </header>
               <article class="card-body">
                  {{#user}}
                  <form action="/user/update" method="post">
                  <input name="id" type="hidden" value="{{_id}}">
                     <div class="form-group mb-2">
                        <label>Nome: </label>
                        <input
                           type="text"
                           class="form-control"
                           name="firstName"
                           value="{{name.firstName}}"
                        />
                     </div>
                     <div class="form-group mb-2">
                        <label>Sobrenome: </label>
                        <input
                           type="text"
                           class="form-control"
                           name="lastName"
                           value="{{name.lastName}}"
                        />
                     </div>
                     <div class="form-group mb-2">
                        <label>Idade: </label>
                        <input type="text" class="form-control" name="age"  value="{{age}}"/>
                     </div>
                     <div class="form-group mb-2">
                        <label>Email: </label>
                        <input type="email" class="form-control" name="email" value="{{email}}"/>
                     </div>
                     <div class="form-group mb-2">
                        <label>Interesses: </label>
                        <input
                           type="text"
                           class="form-control"
                           name="interesses"
                           placeholder="Separados por vírgula (,)"
                           value="{{#interesses}}{{.}},{{/interesses}}"
                        />
                     </div>
                     <div class="form-group">
                        <button
                           type="submit"
                           class="btn btn-success"
                           name="Salvar"
                           value="true"
                        >
                           Salvar
                        </button>
                     </div>
                  </form>
               {{/user}}

               </article>
            </section>
         </div>
      </div>
   </div>
</main>
{{>partials/footer}}
